body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://i.pinimg.com/564x/61/f7/06/61f706cc67915274cd6b9b5fff7ad547.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: #d09f74;

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

h1 {
    color: #fce300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin-top: 100px;
}
.time {
    display: flex;
    flex-direction: row;
    color: #4a1a09;
}
 .opisaniya{
    color: #fce300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 8px;
    margin-bottom: 10px;
}    
time {
    display: flex;
    flex-direction: row;
    color: #a73c15;

}

.Min,.sec,.hours ,.days {
    background-color: #f78929;;
    padding:  10px;
    border-radius: 5px;
    width: 45px;
    height: 70px;
    margin: 0 12px;
    margin-bottom: 150px;
   
}

h2 {
    font-size: 20px;
    text-align: center;
}

.texts {
    margin-bottom: 50px;
    font-size: 10px;
  
}
